@page "/"
@page "/login"
@inject NavigationManager Navigation
@layout Pagination_Project.Components.Layout.LoginLayout

<PageTitle>Iniciar Sesión</PageTitle>

<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <h2>📚 Evaluations</h2>
            <p>Pagination evaluation system</p>
        </div>

        <form method="post" action="/account/login">
            <input type="hidden" name="ReturnUrl" value="/dashboard" />

            <div class="form-group">
                <label style="text-align: center;">User</label>
                <input name="Username"
                       class="form-control"
                       placeholder="Nombre"
                       maxlength="50"
                       autocomplete="username"
                       style="text-align: center;" />
            </div>

            <div class="form-group">
                <label style="text-align: center;">Password</label>
                <input name="Password"
                       type="password"
                       class="form-control"
                       placeholder="••••••••"
                       maxlength="100"
                       autocomplete="current-password"
                       style="text-align: center;" />
            </div>

            @if (_mostrarError)
            {
                <div class="validation-message" style="margin-bottom:12px;">
                    Incorrect user or password.
                </div>
            }

            <button type="submit" class="btn-login">
                Login
            </button>
        </form>
    </div>
</div>

@code {
    private bool _mostrarError;

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        _mostrarError = query.ContainsKey("error");
    }
}